.app-container {
  display: flex;
  flex-direction: row;
}

.global-state {
  padding: 10px;
}

.triangle-results {
  padding: 10px;
}

.cycle-heartbeats {
  padding-left: 10px;
  padding-right: 10px;
  min-width: 40px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.cycle-heartbeat {
  min-width: 10px;
  height: 10px;
  border-radius: 5px;
  display: inline-block;
}

.active-edge-display {
  display: inline-block;
  min-width: 33.33%;
  max-width: 33.33%;
  text-align: center;
}

.active-cycles {
  min-width: 600px;
}

.active-cycle {
  text-align: center;
}

.active-cycle-edge-displays {
  margin-bottom: 10px;
}

.active-cycle-returns {
  text-align: left;
}

.active-cycle-returns > div {
  display: flex;
  padding: 2px 10px;
}

.active-cycle-returns > div > label {
  margin-right: auto;
}
